body {
  padding: 0 2rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.list_header {
  display: flex;
  justify-content: space-between;
}
.link {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5rem;
  color: blue;
  cursor: pointer;
  transition: color 0.3s ease 0s, left 0.3s ease 0s;

  &:after {
    background: none repeat scroll 0 0 cornflowerblue;
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
  &:hover {
    color: black;
  }
}

/* Task_1 */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
  width: 50%;
}
.main_title {
  background-color: #069b1a;
}
#secondary_title {
  background-color: #e24d4d;
}
h3 {
  background-color: #e34398;
}

/* Task_4 */
.list_task_4 {
  p {
    margin-bottom: 16px;
  }
  span {
    display: block;
    margin-top: 16px;
    background-color: #069b1a;
    color: white;
  }
  #css_span {
    background-color: aqua;
    color: black;
  }
}
/* Task_5 */
.box {
  margin-top: 16px;
  width: 200px;
  height: 200px;
  background-color: lightgray;
}
/* Task_6 */
#img_list {
  max-width: 250px;
  li:first-child {
    padding: 45px;
    background-color: blue;
  }
  li:nth-child(2) {
    padding: 45px;
    background-color: pink;
  }
  li:nth-child(3) {
    padding: 45px;
    background-color: aqua;
  }
  li:last-child {
    padding: 45px;
    background-color: red;
  }
}

/* Task_11 */
.thumb {
  padding: 110px 140px 45px 50px;
  background-color: lightgray;
  h1 {
    margin-bottom: 65px;
  }
  p {
    margin-bottom: 50px;
  }
  button {
    padding: 40px;
    font-size: 20px;
    color: white;
    background-color: gray;
    border: none;
  }
}
